body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Roboto;
}
header {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    position: relative;
    margin-top: 47px;
    text-align: center;
    height: 78px;
}
.header-logo {
    width: 136px;
    height: 37px;
    left: 10px;
    padding: 18px 334px 23px 0px;
    text-align: left;
    display: inline-block;
}
.header-social-block {
    Width: 480px;
    Height: 27px;
    Top: 0px;
    Left: 480px;
    padding: 18px 0 23px 0;
    display: inline-block;
}
.header-social{
    display: inline-block;
}
.header-social:first-child{
    margin-right: 10px;
    margin-left: 395px;
}
.wide-content{
    width: 960px;
    margin: 0 auto;
}
.regular-content{
    width: 800px;
    margin: 0 auto;
    display: block; 
}

.regular-content-color{
    background-color: rgb(250, 201, 96);
}
.regular-content-color:nth-child(2){
    height: 421px;
    margin-top: 36px;
    padding-top: 92px; 
}
.first-block{
    height: 237px;
    padding-top: 10px;
    padding-left: 130px;
    padding-right: 130px;
}
form{
    display: inline;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 44px;
    text-align: center;
}
.regular-content-color:nth-child(3), .regular-content-color:last-child{
    background-color: rgb(242, 242, 242)
}
input[type="email"] {
    width: 560px;
    height: 54px;
    margin-top: 158px;
    margin-left: 70px;
    margin-right: 6px;
 
    border: none;
}
input[type="submit"] {
    width: 240px;
    height: 56px;
    background-color: rgb(168, 134, 61);
    cursor: pointer;
    border: none;
}
input[type="submit"]:hover {
    background-color: #4fc12d;
}
.second-block{
    height: 438px;
    padding-top: 80px;
  
}
footer {
    text-align: center;
}